# Libraries

In [336]:
import numpy as np
import pandas as pd
import os

# Load Data

In [337]:
# Data reading OK
print(os.listdir("./input/home-data-for-ml-course"))

['train.csv.gz', 'sample_submission.csv', 'sample_submission.csv.gz', 'data_description.txt', 'test.csv.gz', 'test.csv', 'train.csv']

In [351]:
# Loading data

train=pd.read_csv('./input/home-data-for-ml-course/train.csv')
test=pd.read_csv('./input/home-data-for-ml-course/test.csv')

# Data Analysis

In [352]:
# Data look up
train.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [353]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [354]:
# Calculating NaN percentage
def nans_ratio(train):
    """calculate the nan ratio in a df"""
    total_nans = train.isna().sum().sum()
    total_cells = train.count().sum()
    nans_ratio = total_nans / total_cells
    return nans_ratio
nans_ratio(train)

0.0625814277370951

## Treating NaN values

### Alley

In [355]:
# the data description indicates that NA as 'No alley' ot 'Not Apply', so we will turn this NaN into 'NA'
train['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [356]:
train['Alley'].fillna('NA', inplace=True)
train['Alley'].value_counts()

NA      1369
Grvl      50
Pave      41
Name: Alley, dtype: int64

### Other features

In [357]:
# The same problems was founded in several features that include 'NA' in it's values
# NaN values will be replaced with 'NA' in the following features
nan_features = ['Alley','FireplaceQu', 'PoolQC','Fence','MiscFeature','GarageType','GarageFinish','GarageQual',
                'GarageCond','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2']
for f in nan_features:
    train[f].fillna('NA', inplace=True)

In [358]:
train['PoolQC'].value_counts()

NA    1453
Gd       3
Ex       2
Fa       2
Name: PoolQC, dtype: int64

In [359]:
# Doing the same for the test set
for f in nan_features:
    test[f].fillna('NA', inplace=True)

In [360]:
# For 'GarageYrBlt', if there is no garage, it will be filled with 0
# The same will be donde for 'LotFrontage', assuming that NaN is equalo to 0 or no front.
train['GarageYrBlt'].fillna(0, inplace=True)
test['GarageYrBlt'].fillna(0, inplace=True)
train['LotFrontage'].fillna(0, inplace=True)
test['LotFrontage'].fillna(0, inplace=True)

In [361]:
# Check info
nans_ratio(train)

0.00014377172433040433

### Drop the rest of the NaN rows

To avoid further problems, the rest of the Nulls/Nans rows will be droped

In [362]:
# Train
train = train.dropna()
train = train.reset_index(drop=True)
# Test
test = test.dropna()
test = test.reset_index(drop=True)

In [363]:
nans_ratio(train)

0.0

## Treating categorical data

Because there are son many features with categorical data, using dummy for all variables will leave the df with hundreds columns more.
Also, many of the categorical features have some ordinal properties, so we want to keep that information. Variables will be processed to asign numerical values going from 0 (worst) to n (best) (n=number of labels)

I.e. 

AllPub	All public Utilities (E,G,W,& S)	-->3

NoSewr	Electricity, Gas, and Water (Septic Tank) -->2

NoSeWa	Electricity and Gas Only  --> 1

ELO	Electricity only	--> 0

This process will be done automatically, grouping by the feature and ranking by the mean of the target (SalePrice).

For more info, look at data_description.txt

### Categorical encoding function

In [364]:
#SalePrice-> group_by MSZoning -> mean
train.groupby('MSZoning')['SalePrice'].mean().sort_values(ascending=True)

MSZoning
C (all)     74528.000000
RM         126316.830275
RH         131558.375000
RL         190720.720524
FV         214888.129032
Name: SalePrice, dtype: float64

In [365]:
train["MSZoning"].value_counts()

RL         1145
RM          218
FV           62
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [366]:
labels = train.groupby('MSZoning')['SalePrice'].mean().sort_values(ascending=True).index
labels

Index(['C (all)', 'RM', 'RH', 'RL', 'FV'], dtype='object', name='MSZoning')

In [368]:
for i,label in enumerate(labels):
    train.loc[train["MSZoning"] == label, "MSZoning"] = int(i)
    test.loc[test["MSZoning"] == label, "MSZoning"] = int(i)
train["MSZoning"] = train["MSZoning"].astype(int)
test["MSZoning"] = test["MSZoning"].astype(int)

In [369]:
train["MSZoning"].value_counts()

3    1145
1     218
4      62
2      16
0      10
Name: MSZoning, dtype: int64

In [382]:
def encode_categorical(feature):
    """
    Giving a feature f, encodes the categorical feature
    into integers from 0 to n-1 taking in account the 
    correlation with the target SalePrice
    """
    labels = train.groupby(feature)['SalePrice'].mean().sort_values(ascending=True).index
    for i,label in enumerate(labels):
        train.loc[train[feature] == label, feature] = i
        test.loc[test[feature] == label, feature] = i
    train[feature] = train[feature].astype(int)
    test[feature] = test[feature].astype(int)

## Ordinal categorical encoding

In [385]:
# Encoding train and test df

for column in train.columns:
    # if the dtype of the column is object
    if train[column].dtype == 'object':
        encode_categorical(column)

In [384]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1451 entries, 0 to 1450
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1451 non-null   int64
 1   MSSubClass     1451 non-null   int64
 2   MSZoning       1451 non-null   int64
 3   LotFrontage    1451 non-null   float64
 4   LotArea        1451 non-null   int64
 5   Street         1451 non-null   int64
 6   Alley          1451 non-null   int64
 7   LotShape       1451 non-null   int64
 8   LandContour    1451 non-null   int64
 9   Utilities      1451 non-null   int64
 10  LotConfig      1451 non-null   int64
 11  LandSlope      1451 non-null   int64
 12  Neighborhood   1451 non-null   int64
 13  Condition1     1451 non-null   int64
 14  Condition2     1451 non-null   int64
 15  BldgType       1451 non-null   int64
 16  HouseStyle     1451 non-null   int64
 17  OverallQual    1451 non-null   int64
 18  OverallCond    1451 non-null   int64
 19  YearBuilt      1451 non-null   int64
 20  YearRemodAdd   1451 non-null   int64
 21  RoofStyle      1451 non-null   int64
 22  RoofMatl       1451 non-null   int64
 23  Exterior1st    1451 non-null   int64
 24  Exterior2nd    1451 non-null   int64
 25  MasVnrType     1451 non-null   int64
 26  MasVnrArea     1451 non-null   float64
 27  ExterQual      1451 non-null   int64
 28  ExterCond      1451 non-null   int64
 29  Foundation     1451 non-null   int64
 30  BsmtQual       1451 non-null   int64
 31  BsmtCond       1451 non-null   int64
 32  BsmtExposure   1451 non-null   int64
 33  BsmtFinType1   1451 non-null   int64
 34  BsmtFinSF1     1451 non-null   int64
 35  BsmtFinType2   1451 non-null   int64
 36  BsmtFinSF2     1451 non-null   int64
 37  BsmtUnfSF      1451 non-null   int64
 38  TotalBsmtSF    1451 non-null   int64
 39  Heating        1451 non-null   int64
 40  HeatingQC      1451 non-null   int64
 41  CentralAir     1451 non-null   int64
 42  Electrical     1451 non-null   int64
 43  1stFlrSF       1451 non-null   int64
 44  2ndFlrSF       1451 non-null   int64
 45  LowQualFinSF   1451 non-null   int64
 46  GrLivArea      1451 non-null   int64
 47  BsmtFullBath   1451 non-null   int64
 48  BsmtHalfBath   1451 non-null   int64
 49  FullBath       1451 non-null   int64
 50  HalfBath       1451 non-null   int64
 51  BedroomAbvGr   1451 non-null   int64
 52  KitchenAbvGr   1451 non-null   int64
 53  KitchenQual    1451 non-null   int64
 54  TotRmsAbvGrd   1451 non-null   int64
 55  Functional     1451 non-null   int64
 56  Fireplaces     1451 non-null   int64
 57  FireplaceQu    1451 non-null   int64
 58  GarageType     1451 non-null   int64
 59  GarageYrBlt    1451 non-null   float64
 60  GarageFinish   1451 non-null   int64
 61  GarageCars     1451 non-null   int64
 62  GarageArea     1451 non-null   int64
 63  GarageQual     1451 non-null   int64
 64  GarageCond     1451 non-null   int64
 65  PavedDrive     1451 non-null   int64
 66  WoodDeckSF     1451 non-null   int64
 67  OpenPorchSF    1451 non-null   int64
 68  EnclosedPorch  1451 non-null   int64
 69  3SsnPorch      1451 non-null   int64
 70  ScreenPorch    1451 non-null   int64
 71  PoolArea       1451 non-null   int64
 72  PoolQC         1451 non-null   int64
 73  Fence          1451 non-null   int64
 74  MiscFeature    1451 non-null   int64
 75  MiscVal        1451 non-null   int64
 76  MoSold         1451 non-null   int64
 77  YrSold         1451 non-null   int64
 78  SaleType       1451 non-null   int64
 79  SaleCondition  1451 non-null   int64
 80  SalePrice      1451 non-null   int64
dtypes: float64(3), int64(78)
memory usage: 918.3 KB